#logo{
    width: 80px; height: 80px; margin-left: 0px;
}

#prev-cost{
  text-decoration: line-through;
color: #7a7a7a;
font-family: PulpDisplay-Regular;
text-shadow: none;
font-weight: 400;
font-size: 15px;
}
.products  {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  height: 60px;
  overflow: auto;
  color: blanchedalmond;
  }


.hero {
    width: 1100px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://media.istockphoto.com/photos/cheese-cake-with-strawberry-ice-cream-on-top-picture-id682539098?b=1&amp;k=20&amp;m=682539098&amp;s=170667a&amp;w=0&amp;h=32afi9t2RWzA_uPczNthPx1i5uuo7-Sebics-HiWISw=');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero1 {
  width: 1100px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://media.istockphoto.com/photos/fiesta-mexicana-mexican-fiesta-outdoors-tortilla-chips-beef-with-picture-id1227595910?b=1&k=20&m=1227595910&s=170667a&w=0&h=taEdoekSdssiCUXAam2r9g7LUD_wk4BldHrtmoTRPdo=');
  background-size: cover;
  background-position: center center;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .one {
    grid-column: 1 ;
    grid-row: 1;
  }
  .two {
    grid-column: 3;
    grid-row: 1 ;
  }


  .three {
    grid-column: 1;
    grid-row: 3 ;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
  }


  .five {
    grid-column: 1;
    grid-row: 5;
  }
  .six {
    grid-column: 3;
    grid-row: 5;
  }


  .seven {
    grid-column: 1;
    grid-row: 7;
  }
  .eight {
    grid-column: 3;
    grid-row: 7;
  }









  .one1 {
    grid-column: 1 ;
    grid-row: 1;
  }

  .two1 {
    grid-column: 3;
    grid-row: 1 ;
  }
 


  .three1 {
    grid-column: 1;
    grid-row: 3;
  }


  .four1 {
    grid-column: 3;
    grid-row: 3;
  }


