<!DOCTYPE html>
<html lang="en">


 <head>
    <link rel="stylesheet" href="static/style.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

<header style="margin-top: 20px;">

    <div class="logo">
            <img id="logo" style="float: left;" src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/820/6129147820_d1c6c4b1-1450-4b61-ae26-860288005be5.png?cb=1633203704" alt="">
            <h2 style="margin-left: 350px;">Villa Food restaraunt</h2>
        </div>

        <nav style="display: block;">
        <ul style="margin-left: 350px;">
          <li> <h4 > <a href="/"> Home</a> </h4></li>

          <li>  <h4 > <a href="mealPackage.html">Meal Package Page</a> </h4></li>
        </ul>
    </nav>
    <br><br>
    <section class="hero">   
        <h1 >Villa Food restaraunt and delivery - Home Page</h1>
    <br> 
    </section>
    <br><br>

   <div class="foodyouwant">
    <h1 style="text-align: center; color: darkred;">Food You Want</h1>
    <h4 style="color: darkmagenta; float: left; text-align: center;">Mealtimes are more than food. They’re time to relax. Sometimes that means recharging all by yourself, other times it’s about connecting with friends and family. However you eat your meals, we’re here to make it as easy as it is delicious.
    <h5>Taken from <a href="livefitfood.ca">livefitfood</a>.</h5> </h4>


    <h1 style="text-align: center; color: darkred;">Amazing Chefs</h1>
    <h4 style="color: darkmagenta; float: left; text-align: center;"> Our chefs create dishes they love in our local kitchens. 
        Each chef has their own style, which brings tons
        of variety to our menu, from juicy roast chicken to pan-seared salmon. Once it’s ready to head your way, we chill the food to keep it fresh.</h4>
        <h5>Taken from <a href="livefitfood.ca">livefitfood</a>.</h5> </h4>


  <img src="/static/images/img.jpg" alt="">
</div>
</header>
 </head>

 <body>
     
    <section class="content">
        <br><br>
        <h1 style="color: coral; text-align: center;">Best sellers this month!</h1>
        
        <br>
        
            <div class="wrapper">
             

                <div class="one"><h3 class="products"> Fiesta Omelette with Sweet Potatoes
                </h3>           <img src="/static/images/FiestaOmlette.jpg" alt="">      </div>
                <div class="two">  <h3 class="products"> $10.59  </h3> 
                    <span id="prev-cost">$12.99</span>
                 </div>

                <div class="three"><h3 class="products">Apple Crumble Waffles with Syrup</h3>
                <img src="/static/images/AppleCrumbleWaffles.jpg" alt="">
                </div>
                <div class="four">   <h3 class="products">$12.00  </h3>
                    <span id="prev-cost">$13.59</span>
                </div>

                <div class="five"><h3 class="products">

               KETO Garlic Butter Shrimp with Vegetables
            </h3>
        <img src="/static/images/shrimpketo.png" alt=""></div>
                <div class="six">  <h3 class="products">$12.00  </h3>
                    <span id="prev-cost">$14.99</span>
                </div>




                <div class="seven"><h3 class="products">

                    Korean BBQ Beef with Rice and Vegetables
              
                 </h3>
             <img src="/static/images/koreanbbq.jpg" alt=""></div>
                     <div class="eight">  <h3 class="products">$11.00  </h3>
                         <span id="prev-cost">$13.89</span>
                     </div>

              </div>
              
            </section>


<footer >

    <h4 style="float: left;">© 2021 LiveFit North America Inc.</h4>


    <h4 style="margin-left: 500px;" >
        Follow us on Instagram, Facebook and Telegram! - <a href="facebook.com">facebook.com</a>
    </h4>
  

</footer>
            
 </body>
</html>
