<html>
<head>
    <link rel="stylesheet" href="static/style.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <header style="margin-top: 20px;">

    <div class="logo">
        <img id="logo" style="float: left;" src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/820/6129147820_d1c6c4b1-1450-4b61-ae26-860288005be5.png?cb=1633203704" alt="">
        <h2 style="margin-left: 350px;">Villa Food restaraunt</h2>
    </div>

    <nav style="display: block;">
    <ul style="margin-left: 350px;">
      <li> <h4 > <a href="/"> Home</a> </h4></li>

      <li>  <h4 > <a href="mealPackage.html">Meal Package Page</a> </h4></li>
    </ul>
</nav>
</head>

<br><br>
<section class="hero1">   
    <h1 >Meal Package Page</h1>
<br> <br><br>
</section>


</head>





<body>

    <section class="content">
        <br><br>
        <h1 style="color: coral; text-align: center;">Our top meal packages!</h1>
        
        <br><br> <br><br>

        
            <div class="wrapper">
             

        
              
  <div class="one1"> 
    <img  src="https://media.istockphoto.com/photos/christmas-tree-of-organic-vegetables-on-white-plate-broccolis-and-picture-id1281259708?k=20&amp;m=1281259708&amp;s=612x612&amp;w=0&amp;h=HaPLqrPMVgp7AOiV3ZxfTcQ_UsH5kNWmWFXskjXKHZQ=" alt="">
      <h2 style="text-align: center;" class="products"> Weight Loss package
      </h2> 
      <h3 style="text-align: center;">High protein, low-calorie meals with a nutrient profile tuned for weight loss</h3>
       <h4 style="color: goldenrod; text-align: center;"> From  $8/meal  </h4> 
   </div>


                
     <div class="two1"> 
        <img style="height: 130px; width: 280px;" src="https://media.istockphoto.com/photos/healthy-meal-container-weekly-menu-lunch-box-portion-eating-organic-picture-id1312153321?k=20&amp;m=1312153321&amp;s=612x612&amp;w=0&amp;h=dkuCR2Xb6spBsutWfdbZPzLTnQE901spX-nHfiTgnX8=" alt="">
        <h2 style="text-align: center;" class="products"> Fat Burner package
                  </h2> 
                  
                  <h3 style="text-align: center;">Low carb, nutrient-rich meals with fat-burning profiles to support fat loss</h3>
                   <h4 style="color: goldenrod; text-align: center;"> From  $10/meal  </h4> 
               </div>




               <div class="three1"> 
                <img src="https://media.istockphoto.com/photos/keto-diet-concept-salmon-avocado-eggs-nuts-and-seeds-picture-id1129572695?k=20&amp;m=1129572695&amp;s=612x612&amp;w=0&amp;h=SnIrVMIiIW8Zj67JaswHzPJtOM8Hnj6A_wuMa3dsKQM=">
                <h2 style="text-align: center;" class="products"> Muscle Gain
                  </h2> 
                  <h3 style="text-align: center;">Higher protein and calorie portions to support your muscle gain momentum</h3>
                   <h4 style="color: goldenrod; text-align: center;"> From  $9/meal  </h4> 
               </div>




               <div class="four1"> 
                <img style="height: 130px; width: 280px;" src="https://media.istockphoto.com/photos/nfresh-crab-meat-packed-in-a-box-picture-id1248778276?k=20&amp;m=1248778276&amp;s=612x612&amp;w=0&amp;h=ezKi86XE_UZFeTa97x_B48vZJRjjzg70_AIm0fc9mZM=" alt="">          
                        <h2 style="text-align: center;" class="products"> Keto package
                  </h2> 
                  <h3 style="text-align: center;">High fat, low carb meals with moderate protein to achieve and sustain ketosis</h3>
                   <h4 style="color: goldenrod; text-align: center;"> From  $9/meal  </h4> 
               </div>

               </div>
              
            </section>


            <footer >

                <h4 style="float: left;">© 2021 LiveFit North America Inc.</h4>
            
            
                <h4 style="margin-left: 500px;" >
                    Follow us on Instagram, Facebook and Telegram! - <a href="facebook.com">facebook.com</a>
                </h4>
              
            
            </footer>
                        
</body>







</html>